/*===== GOOGLE FONTS =====*/
/*===== VARIABLES CSS =====*/
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== z index ==========*/
/*========== BASE ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none !important;
  outline: none !important;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 5rem 0 0 0;
  font-size: 0.938rem;
  line-height: 1.6;
}

h1 {
  text-transform: uppercase;
}

button {
  background-color: transparent !important;
  -webkit-transition: all ease 0.3s !important;
  transition: all ease 0.3s !important;
}

button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #fff !important;
}

.cc-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cc-bg-color {
  background-color: #f7f6f6 !important;
}

.cc-section-one {
  position: relative;
  background-image: url("../images/3.jpeg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.cc-section-one::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

main {
  padding: 1rem 0 5rem;
}

section {
  background: #d4f1f9;
  border-radius: 10px;
}

.cc-display-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
  padding: 10px;
}

.cc-display-section h1 {
  font-size: 16px;
  font-weight: bold;
}

.cc-promote-btn {
  position: relative;
  width: 100%;
  font-size: 1.2rem !important;
  background: #0C7CD5 !important;
  border-radius: 0 0 10px 10px !important;
  border: none !important;
  z-index: 3;
}

.cc-promote-btn:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: #23863d !important;
}

@media screen and (min-width: 1200px) {
  .cc-display-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 14px;
    padding: 10px;
  }
  .cc-display-section h1 {
    font-size: 18px;
  }
  .cc-article-banner {
    width: 60%;
    height: 40rem;
    overflow-y: scroll;
    padding: 0 10rem;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .cc-article-banner::-webkit-scrollbar {
    display: none;
  }
  .cc-promote-btn {
    position: relative;
    width: 60%;
    font-size: 1.2rem;
    background: #0C7CD5;
    border-radius: 0 !important;
    margin-top: 30rem;
    margin-right: 7rem;
    border: 10px !important;
    z-index: 3;
  }
  .cc-promote-btn:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: #23863d !important;
  }
  .aside-bg-img-howitworks {
    position: relative;
    width: 40%;
    background-image: url(../images/10.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 10px 10px 0;
  }
  .aside-bg-img-howitworks::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 10px 10px 0;
  }
  .aside-bg-img-promote {
    position: relative;
    width: 40%;
    background-image: url(../images/9.jpeg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 0 10px 10px 0;
  }
  .aside-bg-img-promote::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 10px 10px 0;
  }
}
/*# sourceMappingURL=promote.css.map */